name: Continous Integration

on: push


jobs:
  test:
    name: Test on commit
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: npm install
        run: npm install
      - name: npm test
        run: npm run test
      - name: coverage
        run: npm run report-coverage
